/* .dashboard h1 {
  text-align: center;
  font-size: 2rem;
}

.dashboard {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #55341b;
  color: #fefefe;
} */
